/* starter code */
body {
    font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
}

p {
    width: 800px;
    margin: 0 auto 1rem;
}

/* tutorial code */
header {
    background: url(image.jpg);
    height: 100vh;
    margin-bottom: 2rem;
    background-size: cover;
}

body {
    margin: 0;
}

video {
    min-width: 100vw;
    min-height: 100vh;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}